@import './config';

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: $background-color;
    line-height: 1.6;
}
header {
    .img-container {
        width: 100%;
        background: url('../images/bg-header-desktop.png');
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 8%;
        margin: 5em auto 3em;
    }
    .container-small {
        h1 {
            font-size: 30px;
            font-weight: weight('bold');
        }
        p {
            font-weight: weight('light');
        }
    }
}

section {
    h3 {
        font-size: 25px;
    }
}

.img-area {
    &__img {
        max-width: 50%;
        position: relative;
        left: -15%;
        max-height: 400px;
    }
    &__text {
        justify-content: center;
        width: 30%;
    }
    &__title {
        color: $heading-text-color;
        font-weight: weight('bold');
        margin-bottom: 0.5em;
    }
    &__info {
        line-height: 2;

        &:nth-child(6) {
            margin-bottom: 0;
        }
    }
}

.tablet {
    .img-placer {
        width: 60%;
        margin: 0 auto;
    }
    img {
        width: 100%;
    }
}

.item {
    width: 33.33%;
    h3 {
        font-size: 18px;
    }
    img {
        height: 1.5em;
        margin-bottom: 0.75em;
    }
    & + & {
        margin-left: 1em;
    }
}

.social-icons {
    justify-content: space-between;
    img {
        height: 2em;
    }
}

.footer {
    background-color: hsl(0, 0%, 94%);
    padding: 2em 0;
    .d-flex {
        gap: 5em;
    }
    .img-holder {
        flex-basis: 10%;
        justify-content: center;
        align-items: center;
    }
    &-logo {
        height: 2.5em;
    }
    .links {
        justify-self: center;
        flex-basis: 75%;
        ul {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        a {
            color: hsl(0, 0%, 40%);
            margin-right: 5em;
            &:hover {
                color: $primary-strong-cyan;
            }
        }
    } 
    .social-links {
        justify-self: center;
        align-self: center;
        flex-basis: 15%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 1em;
    }
}
@media (max-width: 800px) {
    .btn {
        max-width: 300px;
        margin: 2em auto 0;
    }
    .container-small, .container-big {
        min-width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }
    .d-flex {
        flex-direction: column;
    }
    p {
        font-size: 16px;
    }
    body {
        font-size: 20px;
    }
    header{
        .img-container {
            background: url('../images/bg-header-mobile.png') no-repeat cover;
        }
        .logo {
            min-height: 80px;
            width: auto;
            margin: 5em auto 3em;
        }
    }
    section {
        margin-bottom: 7em;
    }
    .img-area {
        justify-content: center;
        align-items: center;
        &__img {
            left: 0;
            margin-right: 0;
            margin-bottom: 2em;
            width: 90%;
        }
        &__text {
            justify-content: flex-start;
            width: 90%;
        }
        &__info {
            margin-bottom: 2.5em;
        }
    }
    .snippets, .img-area, .tablet, .supercharge {
        margin-bottom: 5em;
    }
    .item {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
        & + & {
            margin-left: auto;
        }
        &:last-child {
            margin-bottom: 0em;
        }
    }
    .social-icons {
        align-items: center;
        gap: 2.5em;
        img {
            height: auto;
            max-width: 100px;
        }
    }
    .footer {
        .d-flex {
            gap: 2em;
        }
        .links {
            justify-self: center;
            flex-basis: 75%;
            ul {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5, 1fr);
                place-items: center;
            }
            a {
                margin-right: 0;
            }
        } 
        .social-links {
            flex-direction: row;
            gap: 2em;
        }
    }
}